.app-header {
  background-color: #282c34;
  height: 1000px;
  padding-top: 200px;
  width: 100%;
}

.app {
  border: solid 1px #fff;
  height: 650px;
  border-radius: 30px;
}
.app-inner {
  border: solid 4px red;
  height: 100%;
  border-radius: 30px;
}
.app-inner2 {
  border: solid 4px blue;
  height: 100%;
  border-radius: 30px;
}
