.app-header {
  background-color: #282c34;
  height: 1000px;
  padding-top: 200px;
  width: 100%;
}

.app {
  border: solid 2px #fff;
  height: 650px;
  border-radius: 30px;
}
.app-inner {
  border: solid 4px #717171;
  height: 100%;
  border-radius: 30px;
}
.app-inner2 {
  border: solid 3px #000;
  height: 100%;
  border-radius: 30px;
}
.app-face {
  background: #fff;
  height: 100%;
  border-radius: 30px;
}
