@font-face {
  font-family: montB;
  src: url(./assets/fonts/mont/MontserratAlternates-SemiBold.otf);
}
@font-face {
  font-family: montBB;
  src: url(./assets/fonts/mont/MontserratAlternates-Bold.otf);
}
@font-face {
  font-family: rebond;
  src: url(./assets/fonts/rebond/RebondG-Book.ttf);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: montBB;
}
