@font-face {
  font-family: montB;
  src: url(./assets/fonts/mont/MontserratAlternates-Medium.otf);
}
@font-face {
  font-family: montBB;
  src: url(./assets/fonts/mont/MontserratAlternates-Bold.otf);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: montB;
}
