.app-header {
  background-color: #282c34;
  height: 1000px;
  padding-top: 200px;
  width: 100%;
}

.app {
  border: solid 2px #fff;
  height: 720px;
  border-radius: 30px;
}
.app-inner {
  border: solid 4px #717171;
  height: 100%;
  border-radius: 30px;
}
.app-inner2 {
  border: solid 4px #000;
  height: 100%;
  border-radius: 30px;
}
.app-face {
  background: #fff;
  height: 100%;
  border-radius: 30px;
  padding: 10px 20px 0px 20px;
  a {
    color: #5c2684;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
  }
}
.flexy {
  display: flex;
}
.flexy1 {
  flex-grow: 1;
}
.balance {
  h5 {
    color: #5c2684;
    margin-bottom: 30px;
  }
  small {
    font-size: 10px;
  }
  img {
    margin-top: -10px;
  }
}
.access {
  margin-top: 50px;
  h6 {
    font-size: 12px;
    margin-top: 5px;
  }
  a {
    color: #000;
  }
}
.access2 {
  margin-top: 20px;
  margin-bottom: 20px;
  h6 {
    font-size: 12px;
    margin-top: 5px;
  }
  a {
    color: #000;
  }
}
.transactions {
  margin-top: 20px;
  h6 {
    font-size: 11px;
    margin-bottom: 0 !important;
    margin-top: 10px;
  }
  a {
    font-size: 10px;
    color: grey;
    text-decoration: none;
    margin-top: 0;
  }
}
.footer {
  border-top: solid 1px rgb(202, 201, 201);
  padding-top: 15px;
  margin-top: 10px;
  h6 {
    font-size: 11px;
  }
}
.dash {
  border-radius: 10px;
  border: solid 2px black;
  height: 2px;
}
.amount {
  margin-top: 30px;
  h6 {
    font-size: 11px;
  }
  input {
    padding: 5px 20px;
    width: 100%;
    font-weight: bold;
    color: #000 !important;
  }
}
.duration {
  margin-top: 30px;
  h6 {
    font-size: 11px;
  }
  p {
    font-size: 11px;
    color: grey;
    text-align: left;
    span {
      font-weight: bold;
    }
  }
  button {
    border: none;
    padding: 10px 0px;
    font-size: 12px;
    width: 100%;
    background: #fff;
    border-top: solid 1px grey;
    border-bottom: solid 1px grey;
  }
  #btn1 {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: solid 1px grey;
  }
  #btn4 {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  #btn4,
  #btn1,
  #btn2,
  #btn3 {
    border-right: solid 1px grey;
  }
}
.curr-active {
  background: #5c2684 !important;
  color: #fff !important;
}
.remark {
  margin-top: 40px;
  h6 {
    font-size: 11px;
  }
  small {
    font-size: 10px;
    color: grey;
  }
  textarea {
    height: 80px;
    font-size: 8px;
  }
}
.success-div {
  background: #f2eef5;
  padding-top: 40px;
  padding-bottom: 10px;
  margin-top: 30px;
  h6 {
    color: #5c2684;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
