.beneficiary-modal {
  height: 70px;
  width: 100%;
  border: dashed 1px #5c2684;
  margin-top: 80px;
  color: #5c2684;
  padding-top: 20px;
}
.modal-content {
  img {
    border-radius: 50%;
  }
  h6 {
    font-size: 13px;
  }
  p {
    font-size: 11px;
  }
}
